.blockAddGoods {
  margin-top: 100px;
  width: 20%;
  background: Black;
  margin-left: 40%;
  padding: 0.5%;
  border: 2px solid;
}

button {
  border-color: black;
  color: Black;
  box-shadow: 0 0 40px 40px Gold inset, 0 0 0 0 Gold;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  margin-bottom: 10px;
}

button:hover {
  box-shadow: 0 0 10px 0 DarkOrange inset, 0 0 10px 4px DarkOrange;
}

.text {
  margin-left: -44%;
  margin-top: 2%;
  margin-bottom: 1%;
}

.categoriesAdd {
  margin-left: -33%;
}

.nameAdd {
  margin-left: -41%;
}
