.photoAboutGoods{
  width: 200px;
  height: 250px;
  background-color: gray;
  margin-left: 50px;
  margin-top: 50px;
  border: 2px solid;
}
.blockAboutGoods{
  background-color: black;
  width: 1000px;
  height: 700px;
  margin-left: 350px;
  border: 2px solid;
}
#infoAboutGoods{
  text-align: left;
  margin-top: -255px;
  margin-left: 300px;
  font-size: 18px;
  width: 400px;
}
#nameGoods{
  margin-top: 130px;
  margin-left: -740px;
}
.description{
  border: 2px solid;
  width: 900px;
  height: 300px;
  margin-left: 45px;
}

  